<!DOCTYPE html>
<html>
<head>

    <title>Juguetes</title>
    <link href="~/estilos/estilo.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 style="text-align:center; background-color:deeppink;color:white">Juguetes libres</h1>
    </header>
   
    
    
    <main>
        @RenderBody()
    </main>




  
</body>
</html>